/**************/
/* CSS REMEDY */
/**************/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
	text-decoration: none;
	list-style: none
}

body{
	font-family:TT Norms Regular ;
}


@font-face {
    font-family: "TT Norms Regular";
	src: url(../fonts/TT\ Norms\ Regular.ttf);
}

@font-face{
	font-family: "TT Norms Bold";
	src: url(../fonts/TT\ Norms\ Bold.ttf);
}

@font-face{
	font-family: "TT Norms ExtraBold";
	src: url(../fonts/TT\ Norms\ ExtraBold.ttf);	
}

h1,h2,h3,h4,h5,button{
	text-transform: uppercase;
}

footer a, h5{
	text-transform: uppercase;
	font-size: 0.6875em;
    letter-spacing: .05em;
	font-weight: normal;
	text-align: center;
}

h2 {
	font-family: "TT Norms ExtraBold";
	color: var(--color-text-on-white);
	font-size: 1.625em;
	text-align: center;
	padding: 1.2em 0em 0.8em 0em;
}

h2 a, button{
	color: var(--color-text-on-white);
}

h3{
	font-size: 0.9375em;
	color: var(--color-text-on-blueandimages);
	padding-top: 2em;
	font-weight: bold;
	font-family: "TT Norms Bold";
}

h4{
	font-size: 0.6875em;
	color: var(--color-text-on-blueandimages);
	letter-spacing: .05em;
	font-weight: normal;
	margin-top: 0.3125em;
}

svg{
	fill: var(--color-icon-on-header);
}




/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	--color-background-blue:#052c6f;
	--color-background-white:#ffffff;
	--color-text-on-white:#052c6f;
	--color-text-on-blueandimages:#ffffff;
	--color-icon-on-footer:#ffffff;
	--color-icon-on-header:#052c6f;
}





/****************/
/* JOUW STYLING */
/****************/

/* header */

header{
	background-color: var(--color-background-white);
	width: 100%;
	 
		position: sticky; top: 0;
	
	z-index: 999;
	
}

header nav ul li:nth-of-type(1) svg{
	width: 6.5625em;
	height: 3.875em;
}

header nav ul li:nth-of-type(2) svg{
	width: 1.5em;
	height: 1.5em;
}

header nav ul li button{ 
	padding: 1.5em;
	display: flex; /*zet de svg in het midden, ik weet niet waarom*/
	background: transparent;
	border: none;
}

header nav ul li:nth-of-type(3) button{
	margin-right: 20px;
}


header nav ul li:nth-of-type(3) {
	background: none;
	border: none;
	padding: 0.625em;
	position: relative;
}
  
/* https://www.youtube.com/watch?v=zGiirUiWslI */
header nav ul li:nth-of-type(3)::before,
header nav ul li:nth-of-type(3)::after {
	content: '';
	width: 1.75em;
	height: 0.1em;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: var(--color-background-blue);
}
  
header nav ul li:nth-of-type(3)::before {
	margin-top: -0.1875em; 
}
  
 header nav ul li:nth-of-type(3)::after {
	margin-top: 0.1875em; 
}

header nav{
	padding-top: 0.625em;
	padding-bottom: 0.625em;
}

header nav ul{
	display: flex;
}

header nav ul li:nth-of-type(1){
	margin-right: auto;
}

header nav li a{
	padding-left: 0.625em;
}


/* test */

section:nth-of-type(1){
	background-image: url(../images/ABN_S2_Key-Art_960x1458.jpg);
	height: 36em;
	width: 100%;
	
}



/* movies + television */

main section:nth-of-type(2) ul, main section:nth-of-type(3) ul{
	background-color: var(--color-background-blue);
	display: flex;
	overflow-x:auto;	
}

main section:nth-of-type(2) img, main section:nth-of-type(3) img{
	height: 24.875em;
	width: 16.375em;
	flex-shrink:0;	
}

main section:nth-of-type(2) li, main section:nth-of-type(3) li {
	position: relative;	
  }
  
main section:nth-of-type(2) div, main section:nth-of-type(3) div {
	position: absolute;
	bottom: 0;
	left: 0;
  }
  
  main section:nth-of-type(2) div, section:nth-of-type(3) div{
	background-image:linear-gradient( rgb(0 0 0 / 0), rgba(0 0 0 / .75) );
  	margin:0em;
  	padding:.5em;
	right: 0;
	padding-bottom: 1.25em;
}





/* about dreamworks */

 main section:nth-of-type(4) {
	background-color: var(--color-background-blue);
	margin-top: 3.54545em;
}

main section:nth-of-type(4) h2 a{
	color: var(--color-text-on-blueandimages);
}

main section:nth-of-type(4) h2{
	padding-top: 1.5em;
	padding-bottom: 1.2em;
}

main section:nth-of-type(4) ul{
	display: flex;
	overflow-x: auto;
	margin-left: -2.5em;
	padding-left:5.1875em;
	padding-right:2.6875em ;
}

main section:nth-of-type(4) #campus, #iconic_feature_films, #award-winning_television, #innovative_technology{
	width: 18.75em;
	height: 16.875em;
	background-size: cover;
	background-position: 50%;
	position: relative;	
}

/* bron: chatgpt, te vinden in chatgpt.sty ik snap het nog steeds niet zo goed */
main section:nth-of-type(4) #campus::before, #iconic_feature_films::before, #award-winning_television::before, #innovative_technology::before { 
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  }

  main section:nth-of-type(4) #campus h3, #iconic_feature_films h3, #award-winning_television h3, #innovative_technology h3{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 0;
	font-size: 20px;
	width: 100%;
	text-align: center;
}

#campus{
	background-image:url(../images/about-creative-haven.jpg);
}

#iconic_feature_films{
	background-image: url(../images/about-movies.jpg);
}

#award-winning_television{
	background-image: url(../images/about-tv.jpg);
}

#innovative_technology{
	background-image: url(../images/about-tech.jpg);
}

section:nth-of-type(4) p{
	color: var(--color-text-on-blueandimages);
	text-align: center;
	font-size: 11px;
	color: hsla(0,0%,100%,.8);
	margin-top: 1.8em;
	margin-bottom: 1.875em;
	margin-left: 10px;
	margin-right: 10px;
}





/* Stay in touch */

body main section:nth-of-type(5){
	padding-left: 1.625em;
	padding-right: 1.625em;
	padding-top:1.625em ;
	padding-bottom: 40px;
}

body main section:nth-of-type(5) h2, body main section:nth-of-type(5) p, body main section:nth-of-type(5) h5 {
	text-align: initial;
	color: var(--color-text-on-white);
	margin: 0;
	padding: 0;
	font-size:1.25em; 
}

body main section:nth-of-type(5) p{
	font-size:0.9375em ;
	line-height: 1.4;
    letter-spacing: .03em;
	margin-top: 0.625em;
}

body main section:nth-of-type(5) h5{
	font-family: "TT Norms Bold";
	margin-bottom: 4.8em;
	font-size: 0.6875em;
}



main section:nth-of-type(5) img{
	width: 20.1875em;
	height: 10.4375em;
	padding-top: 1em;
} 





/* Form */
form{
	margin-top: 1.25em;
	padding-bottom: 2.8125em;
}

form fieldset {
	display: flex;
	border: 0;
}
  
form fieldset label {
	margin-bottom: 1em;
	color: var(--color-text-on-white);
	text-decoration: none;
	font-size: 0.6875em;
	letter-spacing: .05em;
	text-transform: uppercase;
	font-family:"TT Norms Bold";
}
  
form fieldset input {
	width: 6.5em;
	color: var(--color-text-on-white);
	border: 0;
	border-bottom: 0.0625em solid var(--color-text-on-white);
	margin-bottom: 1em; 
}
  
form fieldset div{
	width: 100%;
}

form button{
	margin-top: 1.7em;
    background: transparent;
	font-family: "TT Norms Bold";
    padding: 1em 1.6em;
    text-align: center;
    width: 14em;
    cursor: pointer;
    font-size: 0.6875em;
    letter-spacing: .05em;
    border: 0.0625em solid var(--color-text-on-white);
}
  

  



/* footer */

footer{
	background-color:var(--color-background-blue);
	color: var(--color-text-on-blueandimages);
	padding: 2.5em 0.625em;
}

footer ul{
	margin-left: 1.72em;
	margin-right: 1.72em;
}

footer li a{
	color: var(--color-text-on-blueandimages);
}

footer nav ul{
	display: grid;
	grid-template-columns:1fr 1fr 1fr;
	margin-top: 1.875em;
}

footer li{
	text-align: center;
	padding-top:0.313em;
	padding-bottom:0.313em ;
}

.footerlogo {
	display: flex;
	justify-content: center;
}

footer a .icon-dw-logo{
	width: 9.5454em;
    height: 5.6363em;
	fill: var(--color-icon-on-footer);	
}

footer h5{
	margin-top:1.875em ;
	padding-bottom:0.455em;
}

footer nav ul li:last-child{
	grid-column: -2;
}

footer aside{
	margin-top: 1.875em;
	margin-bottom:1.875em ;	
}

aside ul{
	display: flex;
	flex-direction: row;
    justify-content: space-evenly;
    margin: 0;
	margin-top: .7em;	
}

footer aside li a svg{
	width: 2.7272em;
	height: 2.7272em;	
}

footer p{
	font-size: 0.5em;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: .05em;
}

footer div{
	text-align: center;
	margin-top: 0.625em;
}

footer div img{
	width:3.01em ;
	height:1em ;
}