/**************/
/* CSS REMEDY */
/**************/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
	text-decoration: none;
	list-style: none
}

body{
	font-family:TT Norms Regular ;
}


@font-face {
    font-family: "TT Norms Regular";
	src: url(../fonts/TT\ Norms\ Regular.ttf);
}

@font-face{
	font-family: "TT Norms Bold";
	src: url(../fonts/TT\ Norms\ Bold.ttf);
}

@font-face{
	font-family: "TT Norms ExtraBold";
	src: url(../fonts/TT\ Norms\ ExtraBold.ttf);	
}

h1,h2,h3,h4,h5,button{
	text-transform: uppercase;
}

p{
	font-size:0.9375em ;
	line-height: 1.4;
    letter-spacing: .03em;
}

h1{
	font-family: "TT Norms ExtraBold";
	font-size: 1.875em;
}

footer a, h5{
	text-transform: uppercase;
	font-size: 0.6875em;
    letter-spacing: .05em;
	font-weight: normal;
	text-align: center;
}


h2 {
	font-family: "TT Norms ExtraBold";
	color: var(--color-text-on-white);
	font-size: 1.625em;
	text-align: center;
	padding: 1.2em 0em 0.8em 0em;
}

h2 a, button{
	color: var(--color-text-on-white);
}

h3{
	font-size: 15px;
	color: var(--color-text-on-blueandimages);
	padding-top: 2em;
	font-weight: bold;
	font-family: "TT Norms Bold";
}

h4{
	font-size: 0.6875em;
	color: var(--color-text-on-blueandimages);
	letter-spacing: .05em;
	font-weight: normal;
	margin-top: 0.3125em;
}

svg{
	fill: var(--color-icon-on-header);
}




/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	--color-background-blue:#052c6f;
	--color-background-white:#ffffff;
	--color-text-on-white:#052c6f;
	--color-text-on-blueandimages:#ffffff;
	--color-icon-on-footer:#ffffff;
	--color-icon-on-header:#052c6f;
	--color-nav-bar-active:#4c8dff;
	--color-about-text:#FFFFFFCC;
}





/****************/
/* JOUW STYLING */
/****************/

/* header */

header{
	background-color: var(--color-background-white);
	width: 100%;
	position: sticky; 
	top: 0;
	z-index:2 ;
}

header nav{
	padding-top: 0.625em;
	padding-bottom: 0.625em;
}

header nav ul{
	display: flex;
}

header nav ul li:nth-of-type(1){
	margin-right: auto;
}

header nav li a{
	padding-left: 0.625em;
}

header nav ul li:nth-of-type(1) svg{
	width: 6.5625em;
	height: 3.875em;
}

header nav ul li:nth-of-type(2) svg{
	width: 1.5em;
	height: 1.5em;
}

header nav ul li button{ 
	padding: 1.5em;
	display: flex; 
	background: transparent;
	border: none;
}

header nav ul li:nth-of-type(3) button{
	margin-right: 1.25em;
}

header nav ul li:nth-of-type(3) {
	background: none;
	border: none;
	padding: 0.625em;
	position: relative;
}
  
/* https://www.youtube.com/watch?v=zGiirUiWslI */
header nav ul li:nth-of-type(3)::before,
header nav ul li:nth-of-type(3)::after {
	content: '';
	width: 1.75em;
	height: 0.1em;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: var(--color-background-blue);
}
  
header nav ul li:nth-of-type(3)::before {
	margin-top: -0.1875em; 
}
  
 header nav ul li:nth-of-type(3)::after {
	margin-top: 0.1875em; 
}






/* carousel */

section:nth-of-type(1){
	position: relative;
}

section:nth-of-type(1) > ul:nth-of-type(1){
    display: flex;
    overflow: hidden; 
    scroll-behavior: smooth;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

section:nth-of-type(1) > ul:nth-of-type(1) li{
	width: 100%;
    flex-shrink: 0;

	background-color: #0009;	

}

section:nth-of-type(1) > ul:nth-of-type(1) img{
	display: block;
    width: 100%;
	mix-blend-mode: overlay;	
} 

section:nth-of-type(1) > ul::before{
	/* content: ""; */
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
	z-index: 0;
}

section:nth-of-type(1) nav ul{
	display: flex;
}

section:nth-of-type(1) nav ul li{
	width: 100%;
	
}

section:nth-of-type(1) nav ul li a::before {
    content: " ";
	background-color: var(--color-background-blue);
    display: inline-block;  /* van de dreamworks website */
    width: 100%; 
    height: 0.25em; 
}

section:nth-of-type(1) nav ul li a:hover:before {
	background-color: var(--color-nav-bar-active);
}

section:nth-of-type(1) div{
	position: absolute;
	left: 0;
	bottom: 1.8em;
	padding: 0em 0.625em 0em 0.625em;
	color: var(--color-text-on-blueandimages);
	z-index: 1;
	width: 100%;
}

section:nth-of-type(1) div nav{
	margin-top: 1.6em;
	width: 100%; 
	padding: 0.625em 0em 0.625em 0em;
}

section:nth-of-type(1) div p{
	text-transform: uppercase;
	font-size: 0.6875em;
	margin-bottom: 0.625em;
}

section:nth-of-type(1) div button{
	margin: 1em 1em 0.5em 0em;
    background: transparent;
	font-family: "TT Norms Bold";
    padding: 1em 1.6em;
    text-align: center;
    width: 11.4em;
	height: 3.56em;
    cursor: pointer;
    font-size: 0.6875em;
    letter-spacing: .05em;
    border: 0.0625em solid var(--color-text-on-blueandimages);
	color: var(--color-text-on-blueandimages);
}





/* movies + television */

main section:nth-of-type(2) ul, main section:nth-of-type(3) ul{
	background-color: var(--color-background-blue);
	display: flex;
	overflow-x:auto;	
	position: relative;
    width: 100%;
    
}


main section:nth-of-type(2) img, main section:nth-of-type(3) img{
	display: block;
    width: 100%;
	flex-shrink:0;	
	
}

main section:nth-of-type(2) li, main section:nth-of-type(3) li {
	position: relative;	
	width: 70%;
	flex-shrink: 0;
  }
  
main section:nth-of-type(2) div, main section:nth-of-type(3) div {
	position: absolute;
	bottom: 0;
	left: 0;
	
  }
  
main section:nth-of-type(2) div, section:nth-of-type(3) div{
	background-image:linear-gradient( rgb(0 0 0 / 0), rgba(0 0 0 / .75) );
  	margin:0em;
  	padding:.5em;
	right: 0;
	padding-bottom: 1.25em;
}
main section:nth-of-type(2) h3, main section:nth-of-type(2) h4, main section:nth-of-type(3) h3, main section:nth-of-type(3) h4{
	width: 90%;
}





/* about dreamworks */

main section:nth-of-type(4) {
	background-color: var(--color-background-blue);
	margin-top: 3.54545em;
}

main section:nth-of-type(4) h2 a{
	color: var(--color-text-on-blueandimages);
}

main section:nth-of-type(4) h2{
	padding-top: 1.5em;
	padding-bottom: 1.2em;
}

main section:nth-of-type(4) ul{
	display: flex;
	overflow-x: auto;
	margin-left: -2.5em;
	padding-left:5.1875em;
	padding-right:2.6875em ;
}

main section:nth-of-type(4) #campus, #iconic_feature_films, #award-winning_television, #innovative_technology{
	width: 18.75em;
	height: 16.875em;
	background-size: cover;
	background-position: 50%;
	position: relative;	
}

/* bron: chatgpt, te vinden in chatgpt.sty ik snap het nog steeds niet zo goed */
main section:nth-of-type(4) #campus::before, #iconic_feature_films::before, #award-winning_television::before, #innovative_technology::before { 
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  }

  main section:nth-of-type(4) #campus h3, #iconic_feature_films h3, #award-winning_television h3, #innovative_technology h3{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 0;
	font-size: 20px;
	width: 100%;
	text-align: center;
}

#campus{
	background-image:url(../images/about-creative-haven.jpg);
}

#iconic_feature_films{
	background-image: url(../images/about-movies.jpg);
}

#award-winning_television{
	background-image: url(../images/about-tv.jpg);
}

#innovative_technology{
	background-image: url(../images/about-tech.jpg);
}

section:nth-of-type(4) p{
	color: var(--color-text-on-blueandimages);
	text-align: center;
	font-size: 0.6875em;
	color: var(--color-about-text);
	margin-top: 1.8em;
	margin-bottom: 1.875em;
	margin-left: 0.625em;
	margin-right: 0.625em;
}





/* Stay in touch */

body main section:nth-of-type(5){
	padding-left: 1.625em;
	padding-right: 1.625em;
	padding-top:1.625em ;
	padding-bottom: 40px;
}

body main section:nth-of-type(5) h2, body main section:nth-of-type(5) p, body main section:nth-of-type(5) h5 {
	text-align: initial;
	color: var(--color-text-on-white);
	margin: 0;
	padding: 0;
	font-size:1.25em; 
}

body main section:nth-of-type(5) p{
	font-size:0.9375em ;
	line-height: 1.4;
    letter-spacing: .03em;
	margin-top: 0.625em;
}

body main section:nth-of-type(5) h5{
	font-family: "TT Norms Bold";
	margin-bottom: 4.8em;
	font-size: 0.6875em;
}



main section:nth-of-type(5) img{
	width: 100%;
	height: 100%;
	padding-top: 1em;
} 





/* Form */
form{
	margin-top: 1.25em;
	padding-bottom: 2.8125em;
}

form fieldset {
	display: flex;
	border: 0;
	width: 100%;
	gap:.6em;
}
  
form fieldset label {
	margin-bottom: 1em;
	color: var(--color-text-on-white);
	text-decoration: none;
	font-size: 0.6875em;
	letter-spacing: .05em;
	text-transform: uppercase;
	font-family:"TT Norms Bold";
}
  
form fieldset input {
	width: 6.5em;
	color: var(--color-text-on-white);
	border: 0;
	border-bottom: 0.0625em solid var(--color-text-on-white);
	margin-bottom: 1em; 
}
  
form fieldset div{
	width: 100%;
	display: flex;
	flex-direction: column;
}

form button{
	margin-top: 1.7em;
    background: transparent;
	font-family: "TT Norms Bold";
    padding: 1em 1.6em;
    text-align: center;
    width: 14em;
    cursor: pointer;
    font-size: 0.6875em;
    letter-spacing: .05em;
    border: 0.0625em solid var(--color-text-on-white);
}
  

  



/* footer */

footer{
	background-color:var(--color-background-blue);
	color: var(--color-text-on-blueandimages);
	padding: 2.5em 0.625em;
}

footer ul{
	margin-left: 1.72em;
	margin-right: 1.72em;
}

footer li a{
	color: var(--color-text-on-blueandimages);
}

footer nav ul{
	display: grid;
	grid-template-columns:1fr 1fr 1fr;
	margin-top: 1.875em;
}

footer li{
	text-align: center;
	padding-top:0.313em;
	padding-bottom:0.313em ;
}

.footerlogo {
	display: flex;
	justify-content: center;
}

footer a .icon-dw-logo{
	width: 9.5454em;
    height: 5.6363em;
	fill: var(--color-icon-on-footer);	
}

footer h5{
	margin-top:1.875em ;
	padding-bottom:0.455em;
}

footer nav ul li:last-child{
	grid-column: -2;
}

footer aside{
	margin-top: 1.875em;
	margin-bottom:1.875em ;	
}

aside ul{
	display: flex;
	flex-direction: row;
    justify-content: space-evenly;
    margin: 0;
	margin-top: .7em;	
}

footer aside li a svg{
	width: 2.7272em;
	height: 2.7272em;	
}

footer p{
	font-size: 0.5em;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: .05em;
}

footer div{
	text-align: center;
	margin-top: 0.625em;
}

footer div img{
	width:3.01em ;
	height:1em ;
}